@model Faturi.Application.DTOs.ConvenioDTO

<h3>Excluir Convenio</h3>

<h4>Você tem ecrteza que deseja excluir este convenio?</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ANS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ANS)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Voltar a lista</a>
    </form>
</div>